:root {
    --bg: #282a36;
    --cor-verde: #00CED1; 
    --bg-claro: #393C4D;
    --branco: hsl(0, 0%, 90%); 
}   

*{
    transition: all .2s linear;
}

.Modal-Sucesso {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 0.8rem;

    border-left: 0.6rem solid #303140; 

    padding: 1rem 1rem;
    position: absolute;
    max-width: 540px;
    background-color: var(--bg-claro);
    z-index: 100 !important;
    top: 0;
    margin-top: 1rem;   
    margin-right: 1rem; 
    border-radius: 0.4rem;
    transition: 0.6s;
    
    opacity: 0;
    right: -150%
}

.Modal-Sucesso.Aparecer {
    transition: 0.6s;
    opacity: 1;
    right: 0;
}

/* 
.Modal-Sucesso.Sumir {
    animation: ModalSumir !important;
    animation-duration: 0.4s;
} */



/* @keyframes ModalSumir {
    to {
        opacity: 0;
        transform: translateX(150%);
    }
} */

.Modal-Sucesso div {
    background-image: url(/VagaBank-project-main/Imagens/Sucesso\Icon.png);
    background-size: contain;
    background-position: center;
    width: 1.8rem; height: 1.8rem;
    padding: 0.5rem 0.6rem;     
    background-color: var(--bg);
    border-radius: 0.4rem;
}

.Modal-Sucesso p, .Modal-Erro p {
    font-size: 0.8rem;
    line-height: 1.4;
    color: var(--branco);
}

/* MODAL QUANDO DA ERRADO! */
.Modal-Erro {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 0.8rem;

    border-left: 0.6rem solid #303140; 

    padding: 1rem 1.2rem;
    position: absolute;
    max-width: 540px;
    background-color: #F26361;
    z-index: 100000000 !important;
    top: 0;
    margin-top: 1rem;
    right: -65%;
    margin-right: 1rem; 
    border-radius: 0.4rem;
}

.Modal-Erro div{
    background-image: url(/VagaBank-project-main/Imagens/Erro\ icon.png);
    background-size: contain;
    background-position: center;
    width: 1.8rem; height: 1.4rem;
    padding: 0.5rem 0.6rem;     
    background-color: var(--bg);
    border-radius: 0.4rem;
}

.Modal-Erro p{
    color: var(--bg) ;
}
