@media screen and (max-width: 575.98px) {
    /*--- Load --- */
    .barra {
        width: 350px;
    }

    .container-loading h3{
        font-size: 1rem;
        text-align: center;
    }

    /*--- Login --- */


     /*--- register --- */
  



     /*--- Home --- */

     .home {
        grid-template-columns: 1fr;
    }

    .menu {
        position: absolute;
        transition: .7s ease;
        height: 100%;
        left: -100%;
        width: 100%;
        z-index: 10; 
        background-color: hsl(181, 100%, 41%);
    }

    .menu-mobile {
        display: block;
    }

    .logo {
     justify-content: flex-end;
    }

    .conteudo h2{
        font-size: 1rem;
    }

    .conteudo h3 {
        font-size: 1.2rem;
    }

    .conteudo img {
        width: 350px;
    }

    .mobileOpen {
        left: 0%;
    }

    .user p {
        font-size: 1.2rem;
    }

    .user .foto-De-Perfil{
        width: 70px;
        height: 70px;
    }

    .btn-exit {
        width: 20px;
        height: 20px;
    }

    .btn-exit i {
        font-size: 15px;
    }

    .navbar ul li {
        font-size: 1rem;
    }

    .navbar ul li i {
        font-size: 15px;
    }

    /*--- Saldo --- */

    .conteudo-saldo {
        flex-direction: column-reverse; 
        justify-content: center;
        height: 100vh;
    }

    .conteudo-saldo img {
        width: 350px;
        display: none;  
    }

    /*--- Extrato --- */


    .conteudo-extrato img {
        width: 400px;
        display: none;
    }

    /*--- Transferência --- */
    .conteudo-transfer, .conteudo-depositar{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .conteudo-transfer img {
        width: 250px;
        display: none;
    }


    /*--- Deposito --- */

    .conteudo-depositar img {
        width: 250px;
        display: none;
    }

    .select {
        width: 250px;
    }

    .form-transf .info, .form-deposito .info{
        padding: 0.5rem 2rem 0.5rem 1rem;
        margin: 15px auto;
    }



    .campos {
        width: 100%;
        justify-content: center;
    }

    .conta, .agencia, .valor, .titular, .documento{
        width: 250px
    }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    /*--- Home --- */

    .home {
        grid-template-columns: 1fr;
    }

    .menu {
        position: absolute;
        transition: .7s ease;
        height: 100vh;
        left: -100%;
        z-index: 10; 
        width: 300px;
        background-color: hsl(181, 100%, 41%);
    }

    .logo {
        justify-content: flex-end;
    }

    .menu-mobile {
        display: block;
    }

    .mobileOpen {
        left: 0%;
    }

    .user p {
        font-size: 1.2rem;
    }

    .user .foto-De-Perfil{
        width: 70px;
        height: 70px;
    }

    .btn-exit {
        width: 20px;
        height: 20px;
    }

    .btn-exit i {
        font-size: 15px;
    }

    .navbar ul li {
        font-size: 1rem;
    }

    .navbar ul li i {
        font-size: 15px;
    }

    /*--- Saldo --- */

    .conteudo-saldo {
        flex-direction: column-reverse; 
        justify-content: center;
        height: 100vh;
    }

    .conteudo-saldo img {
        width: 350px;
        
        
    }

    /*--- Extrato --- */


    .conteudo-extrato img {
        width: 400px;
        display: none;
    }

    /*--- Transferência --- */
    .conteudo-transfer, .conteudo-depositar{
        flex-direction: column;
        justify-content: center;
    }

    .conteudo-transfer img {
        width: 350px;
        margin-top: 90px;
    }

    /*--- Deposito --- */

    .conteudo-depositar img {
        width: 350px;
        margin-bottom: 30px;
    }
        
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
     /*--- Home --- */

     .home {

        grid-template-columns: 120px 5fr;
    }

   
    .conteudo h2{
        font-size: 1.2rem;
    }

    .conteudo h3 {
        font-size: 1.5rem;
    }

    .conteudo img {
        width: 450px;
    }

    .info {
        padding: 0.6rem 2rem 0.6rem 1rem;
        margin: 5px 0;
    }


    .menu {
        display: none;
    }

    .menu-tablet {
        display: block;
        align-items: center;
    }

    .menu-tablet .navbar i {
        font-size: 20px;

    }

    .menu-mobile{
        display: none;
    }

    .user {
        background: none;
        box-shadow: none;
    }

    .user p {
        margin-top: 15px;
        font-size: 1.0rem;
        text-align: center;
    }

    .user .foto-De-Perfil{
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }

    .btn-exit {
        width: 10px;
        height: 10px;
        display: none;
    }

    .btn-exit i {
        font-size: 15px;
    }

    .navbar ul li {
        font-size: 1rem;
    }

    .navbar ul li i {
        font-size: 15px;
    }

     /*--- Saldo --- */

    .conteudo-saldo {
        flex-direction: column-reverse; 
        justify-content: flex-end;
        margin-top: 80px;
        height: 100vh;
    }

    .conteudo-saldo img {
        width: 350px;
    }

    /*--- Extrato --- */
   .conteudo-extrato {
       margin: 90px 0px 400px 0px;
       justify-content: center;
   }
 
    .conteudo-extrato img {
        width: 400px;
        display: none;
    }


    .conteudo-extrato .info {
        margin: 15px 0;
    }

    /*--- Transferência --- */
    .conteudo-transfer, .conteudo-depositar{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 80px;
    }

    .conteudo-transfer img {
        width: 350px;
        margin-top: 90px;
    }

    /*--- Deposito --- */

    .conteudo-depositar img {
        width: 350px;
        margin-bottom: 30px;
    }

    
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /*--- Home --- */

    .home {
        grid-template-columns: 120px 5fr;
    }

    .color-icons {
        color: #00ced1;
    }

   
    .conteudo h2{
        font-size: 1.2rem;
    }

    .conteudo h3 {
        font-size: 1.5rem;
    }

    .conteudo img {
        width: 450px;
    }

    .info {
        padding: 0.6rem 2rem 0.6rem 1rem;
        margin: 5px 0;
    }


    .menu {
        display: none;
    }

    .menu-tablet {
        display: block;
        align-items: center;
    }

    .menu-tablet .navbar i {
        font-size: 20px;

    }

    .menu-mobile{
        display: none;
    }

    .user {
        background: none;
        box-shadow: none;
    }

    .user p {
        margin-top: 15px;
        font-size: 1.0rem;
        text-align: center;
    }

    .user .foto-De-Perfil{
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }

    .btn-exit {
        width: 10px;
        height: 10px;
        display: none;
    }

    .btn-exit i {
        font-size: 15px;
    }

    .navbar ul li {
        font-size: 1rem;
    }

    .navbar ul li i {
        font-size: 15px;
    }

     /*--- Saldo --- */

    .conteudo-saldo {
        flex-direction: row; 
        justify-content: center;
        height: 100vh;
    }

    .conteudo-saldo img {
        width: 550px;
    }

    /*--- Extrato --- */

  
   .conteudo-extrato img {
        width: 400px;
    }

    

    .conteudo-extrato .info {
        margin: 15px 0;
    }

    /*--- Transferência --- */
    .conteudo-transfer, .conteudo-depositar{
        flex-direction: row;
        justify-content: center;
    }

    .conteudo-transfer img {
        width: 350px;
        margin-top: 90px;
    }

    /*--- Deposito --- */

    .conteudo-depositar img {
        width: 350px;
        margin-bottom: 30px;
    }
  
  
   
}

@media screen and (min-width: 1200px) and (max-width: 1480px){

    /*--- Home --- */

    .home {
        grid-template-columns: minmax(250px, 1fr) 5fr;
    }

    .menu-mobile{
        display: none;
    }

    .user p {
        font-size: 1.2rem;
    }

    .user .foto-De-Perfil{
        width: 70px;
        height: 70px;
    }

    .btn-exit {
        width: 20px;
        height: 20px;
    }

    .btn-exit i {
        font-size: 15px;
    }

    .navbar ul li {
        font-size: 1rem;
    }

    .navbar ul li i {
        font-size: 15px;
    }

     /*--- Saldo --- */

    .conteudo-saldo {
        flex-direction: row; 
        justify-content: space-around;
        height: 100vh;
    }

    .conteudo-saldo img {
        width: 450px;
    }

    /*--- Extrato --- */
    
    .conteudo-extrato img {
        width: 500px;
    }

    /*--- Transferência --- */
    .conteudo-transfer img {
        width: 500px;
    }

    /*--- Deposito --- */

    .conteudo-depositar img {
        width: 450px;
    }
  
    
}
