
:root {
    --bg: #282a36;
    --cor-verde: #00CED1; 
}   

*{
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: #FFF;
    font-size: 62.5%;
}

.container-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1.6rem;
}

.container-loading h1 {
    font-size: 2.6rem;
}

.container-loading h1 span {
    color: var(--cor-verde);
}

.container-loading h3{
    font-size: 1.2rem;
    font-weight: normal;
    font-style: italic;
    color: hsl(231, 15%, 25%);
}

.barra {
    margin-top: 1.8rem;
    width: 800px;
    height: 1.6rem;
    border-radius: 1.6rem;
    background-color: hsl(233, 16%, 25%);
}

.barra-interna {
    height: 100%; 
    width: 0px;
    background-color: var(--cor-verde);
    border-radius: 1rem;
    box-shadow: 4px 4px 18px hsl(181, 100%, 60%, 0.20);
    transition: 5s; 
    position: relative;
}

.barra-interna::before{
    position: absolute;
    content: "";
    height: 0; width: 0; right: 0;
    margin-right: 1rem;
    top: -25px;
    border: 1rem solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: hsl(231, 20%, 15%, 0.80);
    /* backdrop-filter: blur(1rem); */
}

.contador {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    font-weight: normal;
    background-color: hsl(231, 20%, 15%, 0.80);
    backdrop-filter: blur(1rem);
    top: -60px;
    margin-right: 1rem;
    border-radius: 0.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(233, 16%, 80%);
} 

.btn-primario, .btn-secundario{
    padding: 0.8rem 1.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
}

.btn-secundario{
    background-color: transparent;
    color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
}

.btn-primario:hover{
    box-shadow: 8px 8px 0px hsl(181, 100%, 41%, 0.60);
}

.btn-secundario:hover{
    box-shadow: 8px 8px 0px hsl(181, 100%, 41%, 0.60);
}

/* COMEÇO DA TELA DE LOGIN */

.TelaDeLogin {
    display: none;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.TelaDeLogin h1{
    font-size: 2.6rem;
}

.TelaDeLogin .foto-De-Perfil {
    width: 112px;
    height: 112px;
    background-image: url(../Imagens/reshot-icon-man-avatar-QCENGDUSPB.svg);
    background-color: var(--cor-verde);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-verde);
    box-shadow: 2px 12px 16px hsl(231, 20%, 10%, 0.36);
}

.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.box-forms{
    display: flex;
    flex-direction: row;
    /* align-items: baseline;
    justify-content: center; */
}

.box-input{
    display: flex;
    flex-direction: row;
    height: 48px;
}

.Formulario .icon-forms {
    fill: white;
    width: 48px;
    height: 48px;
    background-color: hsl(231, 15%, 20%);
    border-radius: 0.2rem 0px 0px 0.2rem;
}

.Formulario input {
    border: none;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    border-radius: 0px 0.3rem 0.3rem 0px;
    padding: 0.8rem 2rem 0.8rem 1rem;    
    background-color: hsl(231, 15%, 20%);
    border: 1px solid hsl(231, 15%, 20%);
}

.icon-forms{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-forms i{
    font-size: 1.4rem;
    color: var(--cor-verde);
}

.Formulario div svg{
   height: 28px;
   width: 28px;
   fill: var(--cor-verde);
}

.Formulario input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.Formulario input:hover {
    border: 1px solid var(--cor-verde);
}

.Agencia {
    margin-right: 1.2rem;
}

.Box-Botoes-Entrada {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
}

/* FIM DA TELA DE LOGIN */

/* COMEÇO DA TELA DE CRIAR CONTA */

.CriarUmaConta {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;     
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.CriarUmaConta .Formulario {
    max-width: 1200px;
}

.CriarUmaConta h1 {
    font-size: 2.6rem;
}

.CriarUmaConta .foto-De-Perfil {
    width: 112px;
    height: 112px;
    background-image: url(../Imagens/reshot-icon-man-avatar-QCENGDUSPB.svg);
    background-color: var(--cor-verde);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-verde);
    box-shadow: 2px 12px 16px hsl(231, 20%, 10%, 0.36);
}

.CriarUmaConta .Formulario input {
    min-width: 248px; 
    border-radius: 0.3rem;
    cursor: pointer;
}

.Box-Formulario-CriarConta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
/* FIM DA TELA DE CRIAR CONTA */

/* COMEÇO DA HOME  */

.home {
    display: none;
    width: 100%;
    height: 100vh;
    grid-template-columns: minmax(300px, 1fr) 5fr;
}

/* Menu home */
.menu{
    display: grid;
    background-color: hsl(181, 100%, 41%, 0.9);
    grid-template-rows: 1fr 4fr;
}

.menu.active {
    background-color: #282a36;
    box-shadow: 0 0 10px rgb(13 12 12 / 15%);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;
   background-color: hsl(181, 100%, 44%);
   box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}

.user.active {
    background-color: #2f313f;
}

.user p {
    font-size: 1.5rem;
    font-size: "Poppins", sans-serif;
    font-weight: 450;
}

.user .foto-De-Perfil{
    width: 80px;
    height: 80px;
    background-image: url(../Imagens/Foto\ de\ perfil.png);
    background-size: cover;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 50%;
    outline: 4px solid hsl(181, 100%, 35%); 
}

.btn-exit {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: 1s;
}

.btn-exit i {
    font-size: 18px;
    color: hsl(181, 100%, 44%);
}

.btn-exit:hover{
    background-color: hsl(181, 100%, 41%);
}

.btn-exit:hover > i {
    color: #fff;
}

.user-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-mobile {
    display: none;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 11;
}

.menu-tablet {
    display: none;
}



/* Navbar menu*/

.navbar {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    
}

.navbar ul li {
    font-size: 1.1rem;
    padding: 20px 40px;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    transition: all .2s;
    position: relative;
}

.navbar ul li i {
    margin-right: 10px;
    font-size: 16px;
}

.navbar ul li a:hover{
    margin-left: 5px;
}

.navbar ul li a::after{
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 0%;
    height: 3px;
    right: 0;
    bottom: -10px;
    transition: 0.6s;
}

.navbar ul li a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.conteudo h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: hsl(181, 100%, 41%);
}

.conteudo h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.conteudo h3 i {
    color: hsl(181, 100%, 41%);
    animation: arrow 1.5s infinite;
}

@keyframes arrow{
    0%, 100%{
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.modo i {
    color: #fff;
    font-size: .8rem;
    text-align: center;
}

.modo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-mode {
    text-align: center;
    margin-right: 3px;
}



.btn-mode {
    width: 40px;
    height: 15px;
    border: 2px solid #ccc;
    background: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    padding: 1px;
    transition: all .4s;
    margin-left: 2.5rem;
}

.btn-mode::before{
    content: "";
    position: absolute;
    background: hsl(181, 100%, 41%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: .4s;
    
}

.btn-mode.active::before{
    margin-left: 23.5px;
    background: hsl(0, 0%, 22%);
}


/* FIM DA TELA HOME */

/* INICIO TELA CONSULTA DE SALDO*/

.conteudo-saldo {
    display: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.info {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    border-radius:  0.3rem;
    padding: 0.8rem 2rem 0.8rem 1rem;
    background-color: hsl(231, 15%, 20%);
    border: 1px solid hsl(231, 15%, 20%);
    width: 250px;
    margin: 15px 0;
}

.value {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    outline: none;
    font-size: 1rem;
    background-color: hsl(231, 15%, 20%);
    border: 1px solid hsl(231, 15%, 20%);
    width: 100px; 
}

.info span {
    padding-top: 2px;
    float: right;
    font-size: 13px;
    cursor: pointer;
}

.info span:hover {
    color: hsl(181, 100%, 41%);
}

.info:hover{
    border: 1px solid var(--cor-verde);
}

.info-saldo p {
    font-size: 1.2rem;
    margin-top: 30px;
}

.conteudo-saldo img {
    width: 800px;
}



/* FIM DA TELA SALDO*/

/* INICIO TELA DE EXTRATO*/

.conteudo-extrato {
    display: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.conteudo-extrato .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 2rem 0.8rem 1rem;
}


.conteudo-extrato img {
    width: 600px;
}

.conteudo-extrato p {
    margin: 0px;
    text-align: center;
}

.conteudo-extrato span {
    color: #00ced1;
}

.left {
    position: relative;
    left: -10px;
}

.right {
    position: relative;
    right: -10px;
}

.detalhes {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 0.7rem;
    outline: none;
    border-radius:  0.3rem;
    padding: 0.8rem 2rem 0.8rem 1rem;
    background-color: hsl(231, 15%, 20%);
    border: 1px solid hsl(231, 15%, 20%);
    width: 250px;
    margin: -15px 0;
    margin-bottom: 5px;
}

.detalhes.active {
    display: flex;
}

.detalhes p {
    font-size: 0.7rem;
}
/* FIM DA TELA DE EXTRATO*/

/* INICIO TELA DE TRANSFERENCIA*/

.conteudo-transfer {
    display: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.conteudo-transfer img {
    width: 600px;
}

.form-transf p {
    text-align: center;
    color: hsl(181, 100%, 41%);
    font-size: 1.5rem;
}

.select {
    font-family: 'Inter', sans-serif;
    width: 340px;
    background: none;
    border: none;
    font-size: 1.0rem;
    color: hsl(0, 0%, 100%);
    font-weight: 550;
    outline: none;
}

.select-items {
    color: hsl(0, 0%, 0%);
    font-weight: 500;
}

.form-transf .info {
    padding: 0.8rem 7rem 0.8rem 1rem;
}
 
.campos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
    max-width: 380px;
}

.campos input {
    font-size: 1rem;
    width: 120px;
    margin-left: 8px;
    background: none;
    border: none;
    color: #fff;
    outline: none;
    height: 100%;
}

.conta, .agencia, .valor, .titular, .documento {
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 0.7rem;
    outline: none;
    border-radius:  0.3rem;
    padding: 0.8rem 2rem 0.8rem 1rem;
    background-color: hsl(231, 15%, 20%);
    border: 1px solid hsl(231, 15%, 20%);
    margin: 7px 0;
}

.btn-enviar {
    margin: 7px 0;
    padding: 0.9rem 2rem 0.9rem 1rem;
    width: 182px;
    border-radius:  0.3rem;
    outline: none;
    border: none;
    background-color: hsl(181, 100%, 41%);
    text-transform: uppercase;
    color: hsl(231, 15%, 20%);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.btn-enviar:hover {
    box-shadow: 8px 8px 0px hsl(181, 100%, 41%, 0.60);
}

/* FINAL TELA DE TRANSFERENCIA*/

/* INICIO TELA DE DEPOSITO*/

.conteudo-depositar{
    display: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.conteudo-depositar img{
    width: 600px;
}

.form-deposito .info {
    padding: 0.8rem 7rem 0.8rem 1rem;
}

.form-deposito p {
    text-align: center;
    color: hsl(181, 100%, 41%);
    font-size: 1.5rem;
}

/* FINAL TELA DE DEPOSITO*/

/* INICIO AREA PIX*/
.conteudo-pix{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
    gap: 50px;
}
.conteudo-pix img{
    width: 600px; 
}
.conteudo-pix h2{
    text-align: center;
    font-size: 2rem;
}

.conteudo-pix .btn-info{
    padding: 0.8rem 1.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
    color:#FFF;
    margin: 5px;
    width: 46%;
    height: 40px;
    

}
.conteudo-pix .div-info-two-columns{
    text-align: center;
    margin-bottom: 2.5%;
}
.conteudo-pix .btn-info-big{
    padding: 0.8rem 1.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
    color:#FFF;
    margin: 5px;
    width: 95%;
    height: 40px;
}
.conteudo-pix .div-info-one-columns{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.conteudo-pix .div-info-one-columns .icone{
    text-align: left;
    padding-left: -10%;
}
.conteudo-pix .btn-info:hover, .btn-info-big:hover{
    background-color:#00ced1c4;
    border: 1px solid #00ced1c4;
    transform: scale(1.02);
}
/* FIM AREA PIX */

/* COMEÇO DO EFETUAR PAGAMENTO */
.conteudo-efePagamento{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
    gap: 50px;
}
.conteudo-efePagamento img{
    width: 600px; 
}
.conteudo-efePagamento h2{
    text-align: center;
    font-size: 2rem;
    margin-top: -6%;

}
.conteudo-efePagamento .info-efePagamento{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap:2.5%

}
.conteudo-efePagamento .div-info-one-columns{
    text-align: left;
    margin-bottom: 2.5%;
}
.conteudo-efePagamento .btn-info-big{
    text-align: left;
    padding: 0.8rem 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
    color:#FFF;
    margin: 5px;
    width: 95%;
    height: 40px;
}

/* FIM EFETUAR PAGAMENTO */

/* COMEÇO DO RECARGA DE CELULAR */
.conteudo-recCel{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
    gap: 50px;
}
.conteudo-recCel img{
    width: 600px; 
}
.conteudo-recCel h2{
    text-align: center;
    font-size: 2rem;
}

.conteudo-recCel .btn-info{
    padding: 0.8rem 1.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
    color:#FFF;
    margin: 5px;
    width: 46%;
    height: 40px;
   
}
.conteudo-recCel .div-info-two-columns{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 22.4rem;
    padding: 0rem .3rem;
}
.conteudo-recCel .btn-info-big{
    padding: 0.8rem 1.3rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--bg);
    color:#FFF;
    margin: 5px;
    width: 95%;
    height: 40px;
}

.conteudo-recCel .slc-info-big{
    padding: 0.3rem 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.3rem;
    cursor: pointer;
    color:#FFF;
    margin: 5px;
    width: 95%;
    height: 40px;
}
.conteudo-recCel .input-info{
    padding: 0.8rem 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.3rem;
    cursor: pointer;
    color:#FFF;
    margin: 5px;
    width: 45%;
    height: 25px;
    
}

.conteudo-recCel .div-info-one-columns{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 23rem;
}
.conteudo-recCel .info-recCel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:2.5%;
    margin-top:-15%;

}

.conteudo-recCel .btn-info:hover, .btn-info-big:hover{
    background-color:#00ced1c4;
    border: 1px solid #00ced1c4;
    transform: scale(1.02);
}
.conteudo-recCel .slc-info-big:hover{
    border: 1px solid #fff;
    transform: scale(1.02);
}
.conteudo-recCel .input-info:hover{
    border: 1px solid #fff;
    transform: scale(1.02);
}

/* FIM DO RECARGA DE CELULAR */

/* COMEÇO SUPORTE */

.conteudo-suporte{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
    gap: 40px;
}
.conteudo-suporte img{
    width: 600px; 
}
.conteudo-suporte h2{
    text-align: center;
    font-size: 2rem;
}
.conteudo-suporte h3{
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0px 0px .4rem ;
}
/* .conteudo-suporte .info-suporte{
    margin-top: -15%;
} */
.conteudo-suporte .input-info{
    padding: 0.8rem 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.3rem;
    cursor: pointer;
    color:#FFF;
    margin: 5px;
    width:90%;
    height: 25px;
   
}
.conteudo-suporte .input-info-txt{
    padding: 0.8rem .4rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.3rem;
    cursor: pointer;
    color:#FFF;
    margin: 5px;
    width:94.5%;
}

.conteudo-suporte .div-info-one-columns{
    display: flex;
    flex-direction: column;
    width: 25rem;
    
}
.conteudo-suporte .btn-info {
    padding: 0.4rem 1.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid var(--cor-verde);
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--cor-verde);
    margin: 5px;
    width: 46%;
    height: 40px; 
    
}
.conteudo-suporte .btn-info:hover{
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    color: #fff;
}
.conteudo-suporte .div-btn-one-columns{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
/* FIM SUPORTE */
















