/* Animations home*/
[data-home]{
    opacity: 0;
    transition: 2s ease;
}

[data-home].animate{
    opacity: 1;
}




/* Animations saldo*/
[data-saldo]{
    opacity: 0;
    transition: 0.7s;
}

[data-saldo="left"]{
    transform: translate3d(-50px, 0px, 0px);
}

[data-saldo="right"]{
    transform: translate3d(50px, 0px, 0px);
}

[data-saldo].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}




/* Animations extrato*/
[data-extrato] {
    opacity: 0;
    transition: 0.7s;
}

[data-extrato="img"]{
    transform: translate3d(50px, 10px 0px);
}

[data-extrato=item1],[data-extrato=item3],[data-extrato=item5],[data-extrato=item7],[data-extrato=item9]{
    transform: translate3d(-30px, 10px, 0px);
}

[data-extrato=item2],[data-extrato=item4],[data-extrato=item6],[data-extrato=item8]{
    transform: translate3d(30px, 10px, 0px);
}

[data-extrato].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}




/* Animations Transf*/
[data-transf]{
    opacity: 0;
    transition: 0.7s;
}

[data-transf="img"]{
    transform: translate3d(0px, 60px, 0px);
}

[data-transf="select1"]{
    transform: translate3d(0px, 30px, 0px);
}

[data-transf="select2"]{
    transform: translate3d(0px, 45px, 0px);
}

[data-transf="campos"]{
    transform: translate3d(0px, 60px, 0px);
}

[data-transf].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



/* Animations deposito*/
[data-deposito]{
    opacity: 0;
    transition: 0.7s;
}

[data-deposito="img"]{
    transform: translate3d(0px, 60px, 0px);
}

[data-deposito="select1"]{
    transform: translate3d(0px, 30px, 0px);
}

[data-deposito="select2"]{
    transform: translate3d(0px, 45px, 0px);
}

[data-deposito="item1"]{
    transform: translate3d(0px, 60px, 0px);
}

[data-deposito="item2"]{
    transform: translate3d(0px, 75px, 0px);
}

[data-deposito="item3"]{
    transform: translate3d(0px, 90px, 0px);
}

[data-deposito].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* Pix */

[data-pix]{
    opacity: 0;
    transition: 0.7s;
}

[data-pix="items"]{
    transform: translate3d(-40px, 0px, 0px);
}

[data-pix="img"]{
    transform: translate3d(40px, 0px, 0px);
}

[data-pix].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* Pagamento*/

[data-efePagamento]{
    opacity: 0;
    transition: 0.7s;
}

[data-efePagamento="img"]{
    transform: translate3d(0px, 20px, 0px);
}

[data-efePagamento="item1"]{
    transform: translate3d(30px, 15px, 0px);
}

[data-efePagamento="item2"]{
    transform: translate3d(60px, 15px, 0px);
}

[data-efePagamento="item3"]{
    transform: translate3d(90px, 15px, 0px);
}

[data-efePagamento].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* Pagamento*/
[data-cel]{
    opacity: 0;
    transition: 0.7s;
}

[data-cel="item1"]{
    transform: translate3d(-30px, 0px, 0px);
}

[data-cel="item2"]{
    transform: translate3d(-60px, 0px, 0px);
}

[data-cel="item3"]{
    transform: translate3d(-90px, 0px, 0px);
}

[data-cel="img"]{
    transform: translate3d(30px, 0px, 0px);
}

[data-cel].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



/* Suporte*/

[data-sup]{
    opacity: 0;
    transition: 0.7s;
}

[data-sup="img"]{
    transform: translate3d(0px, 30px, 0px);
}

[data-sup="item1"]{
    transform: translate3d(0px, 20px, 0px);
}

[data-sup="item2"]{
    transform: translate3d(0px, 40px, 0px);
}

[data-sup="item3"]{
    transform: translate3d(0px, 60px, 0px);
}

[data-sup="item4"]{
    transform: translate3d(0px, 80px, 0px);
}

[data-sup="item5"]{
    transform: translate3d(0px, 100px, 0px);
}

[data-sup].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}