@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .TelaDeLogin .foto-De-Perfil {
        width: 92px;
        height: 92px;
    }

    .TelaDeLogin h1 {
        font-size: 2rem; 
    }

    .box-forms {
        flex-direction: column;
        gap: 1rem;
    }

    .Agencia {
        margin-right: 0px;
    }

    .box-input input{
        width: 248px;
    }

    /* TELA DE CRIANDO A CONTA */

    .CriarUmaConta .Formulario {
        max-width: 800px;
    }

    .CriarUmaConta .foto-De-Perfil {
        width: 92px;
        height: 92px;
    }

    .CriarUmaConta h1 {
        font-size: 2rem; 
    }

    /*FIM DE CRIANDO TELA*/

    .Erro-Input div {
        right: 100%;
    }
}

@media screen and (max-width: 576px) {
    .TelaDeLogin .foto-De-Perfil {
        width: 72px;
        height: 72px;
    }

    .box-forms {
        flex-direction: column;
        gap: 1rem;
    }

    .Agencia {
        margin-right: 0px;
    }

    .box-input input{
        width: 216px;
    }

    /* FORMS CRIANDO UMA CONTA*/

    .CriarUmaConta .foto-De-Perfil {
        width: 72px;
        height: 72px;
    }

    .CriarUmaConta h1 {
        font-size: 2rem; 
    }

    .CriarUmaConta .Box-Formulario-CriarConta {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Erro-Input div {
        right: 100%;
    }


}
